.part-button {
    background-color: #555555;
    display: inline-block;
    width: 6.24%;
    justify-content: center;
    padding: 4px;
}

.part-button img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}