canvas {
    margin: auto;
    padding: 0;
}

.no-margin {
    margin: 0;
}

#control-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    background-color: #222d;
    display: flex;
    z-index: 1;
    backdrop-filter: blur(7px);
}

.menu-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.render {
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black) drop-shadow(-1px 1px 0 black) drop-shadow(1px -1px 0 black);
    width: auto;
    height: 32px;
}

.scroller {
    overflow-y: auto;
}

.menu {
    padding: 25px;
}

p {
    justify-content: space-between;
}

h1 {
    display: inline-block;
    margin: 14px 0 0 20px;
    font-size: 1.25em;
}

h2 {
    display: block;
    margin: auto;
    font-size: 1em;
}

.MuiAccordionSummary-content {
    margin: 5px 0 !important;
}

.MuiAccordionDetails-root {
    display: block !important;
    padding: 5px !important;
}

img {
    margin: 8px 0 8px 0;
    height: 32px;
}

.block {
    display: block;
}

.close-menu-fab {
    position: absolute !important;
    right: -75px;
    top: 20px;
}

.open-menu-fab {
    position: absolute !important;
    left: 20px;
    top: 20px;
}
