.title {
    text-align: center;
    font-size: 1.2rem !important;
}

.centered {
    text-align: center;
    margin: auto;
}

.description {
    text-align: center;
    font-style: italic;
}

.card-requirement {
    color: #ff8;
}

.card-result {
    color: #088;
}

.MuiTableCell-sizeSmall {
    margin: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}