.event {
  background-color: #666;
  margin: 5px;
  min-height: 42px;
  text-align: left;
}

.imgContainer {
  display: inline-block;
  background-color: #ccc;
  padding: 5px;
  width: 50px;
  overflow: hidden;
  left: 10px;
}

.imgContainer img {
  display: block;
  margin: auto;
}

.textContainer {
  display: inline-block;
  margin: 5px;
}

.textContainer .resourcelist {
  margin: 0;
}
