.resource-display {
    justify-content: center;
    display: flex;
    margin: 0 4px 4px 4px;
}

.resource-setter {
    display: inline-block;
    padding: 0;
    color: white;
    margin: 0;
}

.resource-icon {
    display: inline-block;
    margin: 0;
    position: relative;
}

.resource-icon-stack {
    margin: auto;
}

.resource-arrow {
    padding: 10px;
}

.resource-number {
    position: relative;
    right: 10px;
    top: 3px;
    padding-bottom: 5px;
    font-size: 1.1rem !important;
}

.resource-extra-info {
    text-transform: none;
    display: block;
    width: auto;
    padding: 5px;
}